@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-kodama-white: #e6f6fd;
  --color-gibraltar: #76849a;
  --color-doctor-white: #f8f9fa;
  --color-vesper-violet: #99a4b3;
  --color-errigal-white: #f1f2f5;
  --color-silver-chalice: #ebebec;
}

html,
body {
  margin: 0 auto;
}
